.copyright  {
  height: 60px;
  background-color: #e8ebee;
  padding: calc((60px - 14px) / 2) 0;
}      
  
.copyright__text  {
  color: #b7bebe;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-align: center;
}